.vscode/**
.vscode-test/**
.vitest-tmp/**
out/**
out-webview/**
node_modules/**
src/**
webview/**
coverage/**
scripts/**
tests/**
.eslintrc.cjs
.eslintignore
esbuild.*.mjs
tsconfig*.json
vitest.config.ts
**/*.map
**/*.test.ts
**/tsconfig*.json
